@font-face{font-family: 'Droid Sans';font-style: normal;font-weight: 400;src: local('Droid Sans'), local('DroidSans'), url(//themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff')}
@font-face{font-family: 'Droid Sans';font-style: normal;font-weight: 700;src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(//themes.googleusercontent.com/static/fonts/droidsans/v3/EFpQQyG9GqCrobXxL-KRMXbFhgvWbfSbdVg11QabG8w.woff) format('woff')}
.pln {color: #000}
@media screen{.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun,.opn,.clo{color:#660}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec,.var{color:#606}.fun{color:red}}
@media print,projection{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun,.opn,.clo{color:#440}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}
pre.prettyprint{padding:2px;border:1px solid #888}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}

.nelmio html, .nelmio body, .nelmio div, .nelmio span, .nelmio applet, .nelmio object, .nelmio iframe,
.nelmio h1, .nelmio h2, .nelmio h3, .nelmio h4, .nelmio h5, .nelmio h6, .nelmio p, .nelmio blockquote, .nelmio pre,
.nelmio a, .nelmio abbr, .nelmio acronym, .nelmio address, .nelmio big, .nelmio cite, .nelmio code,
.nelmio del, .nelmio dfn, .nelmio em, .nelmio img, .nelmio ins, .nelmio kbd, .nelmio q, .nelmio s, .nelmio samp,
.nelmio smany, .nelmio strike, .nelmio strong, .nelmio sub, .nelmio sup, .nelmio tt, .nelmio var,
.nelmio b, .nelmio u, .nelmio i, .nelmio center,
.nelmio dl, .nelmio dt, .nelmio dd, .nelmio ol, .nelmio ul, .nelmio li,
.nelmio fieldset, .nelmio form, .nelmio label, .nelmio legend,
.nelmio table, .nelmio caption, .nelmio tbody, .nelmio tfoot, .nelmio thead, .nelmio tr, .nelmio th, .nelmio td,
.nelmio article, .nelmio aside, .nelmio canvas, .nelmio details, .nelmio embed,
.nelmio figure, .nelmio figcaption, .nelmio footer, .nelmio header, .nelmio hgroup,
.nelmio menu, .nelmio nav, output, .nelmio ruby, .nelmio section, .nelmio summary,
.nelmio time, .nelmio mark, .nelmio audio, .nelmio video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body .nelmio {
  line-height: 1;
  font-family: "Droid Sans", sans-serif;
}

.nelmio ol, ul {
  list-style: none;
}

.nelmio table {
  border-collapse: collapse;
  border-spacing: 0;
}

.nelmio caption, .nelmio th, .nelmio td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

.nelmio article, .nelmio aside, .nelmio details, .nelmio figcaption, .nelmio figure, .nelmio footer, .nelmio header, .nelmio hgroup, .nelmio menu, .nelmio nav, .nelmio section, .nelmio summary {
  display: block;
}

.nelmio h1 a, .nelmio h2 a, .nelmio h3 a, .nelmio h4 a, .nelmio h5 a, .nelmio h6 a {
  text-decoration: none;
}
.nelmio h1 a:hover, .nelmio h2 a:hover, .nelmio h3 a:hover, .nelmio h4 a:hover, .nelmio h5 a:hover, .nelmio h6 a:hover {
  text-decoration: underline;
}

.nelmio h1 {
  color: black;
  font-size: 1.5em;
  line-height: 1.3em;
  padding: 10px 0 10px 0;
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
}

.nelmio h2 {
  color: black;
  font-size: 1.3em;
  padding: 10px 0 10px 0;
}
.nelmio h2 a {
  color: black;
}

.nelmio h3 {
  color: black;
  font-size: 1.1em;
  padding: 10px 0 10px 0;
}

.nelmio p {
  line-height: 1.4em;
  padding: 0 0 10px 0;
  color: #333333;
}

.nelmio a {
  color: #547f00;
}

.nelmio strong {
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
  font-weight: bold;
}

.nelmio em {
  font-style: italic;
}

.nelmio code, pre {
  font-family: "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
  background-color: #fcf6db;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.nelmio p code {
  padding: 1px 4px 1px 4px;
  border: 1px solid #e5e0c6;
}

.nelmio pre {
  padding: 10px;
  border: 1px solid #e5e0c6;
  margin-bottom: 15px;
  line-height:1.2em;
}

.nelmio div.content ul, div.content ol {
  line-height: 1.4em;
  color: #333333;
}

.nelmio table.fullwidth {
  width: 100%;
}
.nelmio table.fullwidth > tbody > tr {
  border-bottom: 1px solid #cccccc;
}
.nelmio table.fullwidth > tbody tr:last-child {
  border-bottom: none;
}
.nelmio table thead tr th {
  padding: 5px;
  font-size: 0.9em;
  color: #666666;
  border-bottom: 1px solid #999999;
}
.nelmio table tbody tr td {
  padding: 6px;
  font-size: 0.9em;
  vertical-align: top;
  line-height: 1.3em;
}

.nelmio table tbody tr td.format {
  word-break: break-word;
}

.nelmio #header {
  background-color: #89BF04;
  padding: 1%;
  margin-bottom: 1%;
}

.nelmio #header h1 {
  font-size: 1.2em;
  float: left;
}

.nelmio #header a {
  text-decoration: none;
}

.nelmio #sandbox_configuration {
    float: right;
    padding: 10px 0 10px 0;
}

.nelmio #colophon {
  margin: 0 15px 40px 15px;
  padding: 10px 0;
  font-size: 0.8em;
  border-top: 1px solid #dddddd;
  font-family: "Droid Sans", sans-serif;
  color: #999999;
  font-style: italic;
}

.nelmio #resources {
  padding: 0 1%;
  font-family: "Droid Sans", sans-serif;
  font-size: 0.9em;
}

.nelmio .section {
    padding: 5px 20px;
    border-bottom: 1px solid #ddd;
}

.nelmio .section h1 {
    padding: 0;
}

.nelmio .section.active {
    border: 1px solid #ddd;
    background: #f8f8f8;
    margin: 15px 0;
}

.nelmio .section.active h1 {
    padding: 10px 0;
}

.nelmio .section .actions {
    text-align: right;
    float: right;
    margin-top: 10px;
}

.nelmio .section .actions a {
    cursor: pointer;
    margin-left: 10px;
}

.nelmio .section .actions a:hover {
    text-decoration: underline;
}

.nelmio li.resource {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid #dddddd;
}
.nelmio li.resource:last-child {
  border-bottom: none;
}

/* heading */
.nelmio .heading {
  border: 1px solid transparent;
  float: none;
  clear: both;
  overflow: hidden;
  display: block;
}
.nelmio .heading h2 {
  color: #999999;
  padding-left: 0;
  display: block;
  clear: none;
  float: left;
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
}
.nelmio .heading ul.options {
  overflow: hidden;
  padding: 0;
  display: block;
  clear: none;
  float: right;
  margin: 6px 10px 0 0;
}
.nelmio .heading ul.options li {
  float: left;
  clear: none;
  margin: 0;
  padding: 2px 10px;
  border-right: 1px solid #dddddd;
  color: #666666;
  font-size: 0.9em;
}
.nelmio .heading ul.options li:first-child,
.nelmio .heading ul.options li.first {
  padding-left: 0;
}
.nelmio .heading ul.options li:last-child,
.nelmio .heading ul.options li.last {
  padding-right: 0;
  border-right: none;
}

/* operations */
.nelmio li.operation {
  float: none;
  clear: both;
  overflow: hidden;
  display: block;
  margin: 0 0 10px;
  padding: 0 0 0 0;
}
.nelmio li.operation .heading {
  margin: 0 0 0 0;
  padding: 0;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
}
.nelmio li.operation .heading h3 {
  display: block;
  clear: none;
  float: left;
  width: auto;
  margin: 0;
  padding: 0;
  line-height: 1.1em;
  color: black;
}
.nelmio li.operation .heading h3 span {
  margin: 0;
  padding: 0;
}
.nelmio li.operation .heading h3 span.icon {
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-left: 3px;
    background: no-repeat center center;
}
.nelmio li.operation .heading h3 span.lock {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAMCAYAAABbayygAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUHEisepJ6ljAAAAJ5JREFUGNNt0LEOAUEUheEPuwkFtSg0old4Eo/imbQKiULpBZQSCtFoaIjSktXMxpjsSW5xzvnnZmb4aYMymg9WEq1Decc1zCNkyxisoFGUTXDGEZpR8cIp8jccKiaLigwDdMP9hughr8ptALtYoB18C+Pgd5KXlrhgX5P/mSfmmKVgM/mmDP1qQ1rEyjFFkYKNmtMF3uikYFGzOdXnC5FWMZNd2GfvAAAAAElFTkSuQmCC");

}
.nelmio li.operation .heading h3 span.keys {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAMCAYAAAC0qUeeAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUHEisb1PRRAwAAAN9JREFUKM9lz71KQ0EQhuEnJ7EIKhZWaRULu4htLLwDvYRgZWmTWoI3kAuIlVik0U5Io4USRMFOUGwU7cQ/kAQMajMHDpuBZWd235lvPtjHDT4xxhuu0ZJEhhXU8YAG7rCKBWyn8EnkVSxjOuoPbKTT1/GXnCd0YqWt4uQrk3GLGcxiswgPcRgG4QsDzKMSKtUc/kUbFwEf4BlrUdeCk8WOj3jBO+5xhGOMwmQzh6Ec9zemwtgOLuN9D4tZYqwUSvnuu3jFHLpZASqHUqXQfIZe5PX8Y4RTLKGfqLVwjp9/HR4zOkGnnAoAAAAASUVORK5CYII=");
}
.nelmio li.operation .heading h3 span.http_method i, li.operation .heading h3 span.deprecated i {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 50px;
  font-size: 0.7em;
  text-align: center;
  padding: 7px 0 4px 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #ccc;
}
.nelmio li.operation .heading h3 span.deprecated i {
  width: 75px;
  background-color: #F00;
}
.nelmio li.operation .heading h3 span.path {
  padding-left: 5px;
}

.nelmio li.operation .heading h3 span.tag {
  color: #FFFFFF;
  font-size: 0.7em;
  vertical-align: baseline;
  background-color: #d9534f;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  border-radius: 4px;
}

.nelmio li.operation div.content {
  border: 1px solid #ddd;
  padding: 10px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin: 0 0 20px 0;
  background-color: #f0f0f0;
}
.nelmio li.operation > div.content {
    border-top:0px;
}
.nelmio li.operation div.content h4 {
  font-size: 1.1em;
  margin: 0;
  padding: 15px 0 5px 0;
}
.nelmio li.operation div.content form input[type='text'].error {
  outline: 2px solid #cc0000;
}

/* GET operations */
.nelmio li.operation.get .heading {
  border-color: #c3d9ec;
  background-color: #e7f0f7;
}
.nelmio li.operation.get .heading h3 span.http_method i {
  background-color: #0f6ab4;
}
.nelmio li.operation.get .heading ul.options li {
  border-right-color: #c3d9ec;
  color: #0f6ab4;
}

.nelmio li.operation.get div.content {
  background-color: #ebf3f9;
  border-color: #c3d9ec;
}
.nelmio li.operation.get div.content h4 {
  color: #0f6ab4;
}

/* POST operations */
.nelmio li.operation.post .heading {
  border-color: #a7e1a1;
  background-color: #d4f7cd;
}
.nelmio li.operation.post .heading h3 span.http_method i{
  background-color: #10a54a;
}
.nelmio li.operation.post .heading ul.options li {
  border-right-color: #c3e8d1;
  color: #10a54a;
}

.nelmio li.operation.post div.content {
  background-color: #ebf7f0;
  border-color: #c3e8d1;
}
.nelmio li.operation.post div.content h4 {
  color: #10a54a;
}

/* ANY operations */
.nelmio li.operation.any .heading {
  background-color: lightgray;
  border-color: gray;
}
.nelmio li.operation.any .heading h3 span.http_method i {
  background-color: #000;
}
.nelmio li.operation.any .heading ul.options li {
  color: #000;
  border-right-color: gray;
}

.nelmio li.operation.any div.content {
  background-color: lightgray;
  border-color: gray;
}
.nelmio li.operation.any div.content h4 {
  color: #000;
}

/* PUT operations */
.nelmio li.operation.put .heading {
  background-color: #f9f2e9;
  border-color: #f0e0ca;
}
.nelmio li.operation.put .heading h3 span.http_method i {
  background-color: #c5862b;
}
.nelmio li.operation.put .heading ul.options li {
  border-right-color: #f0e0ca;
  color: #c5862b;
}

.nelmio li.operation.put div.content {
  background-color: #faf5ee;
  border-color: #f0e0ca;
}
.nelmio li.operation.put div.content h4 {
  color: #c5862b;
}

/* DELETE operations */
.nelmio li.operation.delete .heading {
  background-color: #f5e8e8;
  border-color: #e8c6c7;
}
.nelmio li.operation.delete .heading h3 span.http_method i {
  background-color: #a41e22;
}
.nelmio li.operation.delete .heading ul.options li {
  border-right-color: #e8c6c7;
  color: #a41e22;
}

.nelmio li.operation.delete div.content {
  background-color: #f7eded;
  border-color: #e8c6c7;
}
.nelmio li.operation.delete div.content h4 {
  color: #a41e22;
}

/* PATCH operations */
.nelmio li.operation.patch .heading {
  background-color: #f5e8e8;
  border-color: #e8c6e7;
}
.nelmio li.operation.patch .heading h3 span.http_method i {
  background-color: #a41ee2;
}
.nelmio li.operation.patch .heading ul.options li {
  border-right-color: #e8c6c7;
  color: #a41ee2;
}

.nelmio li.operation.patch div.content {
  background-color: #f7eded;
  border-color: #e8c6c7;
}
.nelmio li.operation.patch div.content h4 {
  color: #a41ee2;
}

/* LINK operations */
.nelmio li.operation.link .heading {
  background-color: #F7F7D5;
}
.nelmio li.operation.link .heading h3 span.http_method i {
  background-color: #C3D448;
}
.nelmio li.operation.link .heading ul.options li {
  color: #C3D448;
}

.nelmio li.operation.link div.content {
  background-color: #F7F7D5;
}
.nelmio li.operation.link div.content h4 {
  color: #C3D448;
}

/* UNLINK operations */
.nelmio li.operation.unlink .heading {
  background-color: #FFEBDE;
}
.nelmio li.operation.unlink .heading h3 span.http_method i {
  background-color: #FF8438;
}
.nelmio li.operation.unlink .heading ul.options li {
  color: #FF8438;
}

.nelmio li.operation.unlink div.content {
  background-color: #FFEBDE;
}
.nelmio li.operation.unlink div.content h4 {
  color: #FF8438;
}

.nelmio .toggler {
  cursor: pointer;
}


/** sandbox */
.nelmio .pane:not(.selected) {
  display: none;
}

.nelmio .result pre {
  border: none;
  font-size: 0.9em;
  overflow: auto;
}

.nelmio .result pre.to-shrink,
.nelmio .result pre.to-expand {
  cursor:pointer;
}

.nelmio .result pre.to-expand {
  height: 1em;
  overflow:hidden;
}

.nelmio .tabs li {
  display: inline;
  float: left;
  margin: 10px;
  cursor: pointer;
}

.nelmio .tabs li.selected {
  font-weight: bold;
}

.nelmio .panes {
  clear: both;
}

.nelmio .pane.sandbox {
  border: 1px solid #C3D9EC;
  padding: 10px;
}

.nelmio .pane.sandbox legend {
  padding-bottom: 5px;
}

.nelmio .remove {
  cursor: pointer;
}

.nelmio .pane.sandbox .result {
  display: none;
}

.nelmio form .parameters {
  float: left;
  width: 50%;
}

.nelmio form .parameters .tuple input, form .parameters .tuple textarea {
	width: 40%;
}

.nelmio form .headers,
.nelmio form .request-content {
  float: left;
  width: 25%;
}

.nelmio .buttons {
  clear: both;
  padding-top: 10px;
}

.nelmio .request-content textarea {
    width:100%;
    min-width:100%;
    max-width:100%;
    height:5em;
    margin-bottom:10px;
}

.nelmio .pane.content div ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 10px;
}

.nelmio .motd {
  padding:20px;
}

.nelmio .json-collapse-section {
    color: #660;
    cursor: pointer;
}
